// Variables
@import 'variables';

.login-box {
    background-color: #e6e6e6;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 140px;

    img {
        width: 120px;
        opacity: 0.7;
    }
}